<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <!-- Following Grid System -- Their r 12 column in a row -->
    {{>navBar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="Nitin" class="img-fluid" title="nitin">
                        </figure>

                        <p>Welcome to weather App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
</body>

</html>